<div class="col-lg-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :size => '250x250', fallback: "noimage.png" %>
	<table class="table">
		<tbody>
			<tr>
				<td>name</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>
	<%= link_to "#{user.name}の投稿一覧", user_path(user.id), class:"btn btn-info" %><br>
	<%= link_to "ユーザー情報編集", edit_user_path(user.id), class:"btn btn-warning" %>
</div>