<header>
	<div class="navi clearfix">
		<%= link_to "Cafelog", root_path, class: "logo" %><i class="fas fa-coffee"></i>
		<nav>
			<ul>
				<li class="navlist"><%= link_to "About", "#1" %></li>
				<li class="navlist"><%= link_to "Feature", "#2" %></li>
				<li class="navlist"><%= link_to "Contact", "#3" %></li>
				<li class="navlist"><%= link_to "Login", new_user_session_path %></li>
			</ul>
		</nav>
	</div>
</header><!-- /header -->

<div class="topwrapper">
	<div class="title">
	<p class="top-title"><span class="c">Cafe</span>log<i class="fas fa-coffee"></i></p>
	</div>
</div>

<div id="1">
	<div class="about">
		<p class="about-title"><strong>About</strong></p>
		<p>おすすめのカフェの写真や場所を投稿し、ユーザーと共有できるサイトです。</p><br>
		<p>いきたいカフェを検索するときや</p><br>
		<p>いままで行ったカフェを記録したいとき</p><br>
		<p>ユーザー同士でおすすめを共有したいときにご利用ください。</p>
	</div>
</div>

<div id="2">
	<div class="feature">
		<p class="feature-title"><strong>Feature</strong></p>
	</div>
</div>

<div id="3">
	<div class="contact">
		<p class="contact-title"><strong>Contact</strong></p>
	</div>
</div>