<div class="container">
	<div class="row">
		<%= form_for(@post) do |f| %>
			<div class="col-lg-offset-1 col-lg-2">
				<p>画像</p>
				<%= f.attachment_field :image %>
			</div>
			<div class="col-lg-offset-4 col-lg-4">
				<table>
					<tbody>
						<tr>
							<td>タイトル</td>
							<td><%= f.text_field :title %></td>
						</tr>
						<tr>
							<td>キャプション</td>
							<td><%= f.text_area :caption %></td>
						</tr>
					</tbody>
				</table>
				<%= f.submit '投稿' %>
			</div>
		<% end %>
	</div>
</div>